<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>All of Your Avatars </h1>
  <% if current_user %>
  <%= link_to "Create Avatar", new_user_avatar_path %> <br>
  <% end %>
  <%@avatars.each do |avatar|%>
    <%=link_to avatar.name, user_avatar_path(@user, avatar)%> <br>
  <%end%>

</body>
</html>
